@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500;600;700&family=Montserrat:wght@400;500&family=Roboto+Condensed:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

a, a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #c7c7c7;
}

/* Heading and logo */

header {
    /* color: #c7c7c7; */
    /* display: inline-block; */
    position: absolute;     /* Position the heading to the top of the page */
    z-index: 1;             /* Position heading on top of hero-image */
    width: 100%;            /* Change dimension of header element to screen width */
    line-height: 75px;      /* Vertical alignment */
}

h1, h2 {
    font-family: "Markazi Text", sans-serif;
    font-weight: 500;
    font-size: 280%;
}

#logo {
    display: inline-block;
    /* background-color: #46719c;      Test colour */
    margin-left: 30px;
    margin-right: 30px;
}

#logo a {
    color: #c7c7c7;
}

/* Navigation links */
nav {
    background-color: rgba(39, 58, 88, 0.8);    
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 140%;
    float: right;
    letter-spacing: 1px;
    border-radius: 35px 0 0 35px;
}

#menu {
    /* float: right; */
    margin-right: 30px;
    margin-left: 30px;
    vertical-align: bottom;
}

#menu li {
    display: inline-block;
}

#menu li a {                /* Change font to links - narrow, bold, lowercase style */
    color: #c7c7c7; 
    margin-left: 5px;
}

#menu li a:hover {
    /* color: red;           Modify colour - check color wheel */
    color: #75b0d8;
}

#burger {
    width: 75px;
    height: 75px;
    vertical-align: bottom;
}

#burger img {
    height: 100%;

}

/* Hero image and cover text*/

#hero-image {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("../images/blue-tiger-hero-image.jpg") no-repeat center center;
}

#cover-text {
    /* background-color: red; */      /* Testing position and dimensions of element */
    color: #c7c7c7;

    position: absolute;

    width: 25%;
    height: 30%;

    top: 40%;
    left: 15%;

    padding: 0 10px;

    border-radius: 5px;
    /* border: 3px double blue; */
}

#cover-text h2 {
    font-weight: 700;
    font-size: 560%;
}

#cover-text h2 span {
    /* color: blue;        Test colour */
    color: #75b0d8;         /* Preferred colour */
}

#cover-text h3 {
    font-family: Montserrat, sans-serif;
    font-weight: normal;
}

/* About section */

#about {
    height: 60vh;
    background-color: lightblue;
    background: url(../images/about.png) #75b0d8 no-repeat;
    background-size: contain;
    background-position: top right;
}

#about div {
    background-color: #273a58;     /* Testing position and dimension */
    width: 40%;
    position: relative;
    top: 10vh;
    left: 50px;
    padding: 15px;
    border: 5px double #46719c;
    border-radius: 5px;
}

#about div span {
    border: 2px solid #46719c;
    padding: 2px 5px;
    border-radius: 5px;
}

#about div span:hover {
    background-color: #47729d;
}

#about div span a {
    color: #c7c7c7;
}

#about div span i {
    margin-left: 20px;
    font-size: 90%;
}

/* Skills section */

#skills {
    position: relative;
    height: 80vh;
    background-color: #3C4856;
}

#skills h2 {
    text-align: center;
    padding: 40px 0 30px 0;
}

#skills-content {
    /* background-color: red;     Test colour */
    width: 80%;
    height: 70%;
    /* padding: 10px; */
    position: absolute;
    left: 10%;
}

.skills-container {
    /* background-color: lightcoral; */
    /* position: static; */
    /* box-sizing: border-box; */
    margin: 10px;
    /* padding: 20px 0; */
    line-height: 300%;
    height: 12%;
}

.skills-name {
    display: inline-block;
    /* float: left; */
    width: 19%;
    /* height: 100%; */
    /* vertical-align: text-bottom; */
    /* background-color: blue; */
}

/* .skills-name h3 {
    vertical-align: middle;
} */

.skills-level-container {
    display: inline-block;
    /* position: relative; */
    /* margin: 5px 0; */
    /* float: right; */
    width: 80%;
    height: 20%;
    /* background-color: orange;       test colour */
    background-color: #c7c7c7;
    border-radius: 10px;
}

#skills-level-1 {
    position: relative;
    background-color: #75B0D8;       /* test colour */
    height: 100%;
    width: 90%;
    border-radius: 10px;
}

#skills-level-2 {
    position: relative;
    background-color: #75B0D8;       /* test colour */
    height: 100%;
    width: 80%;
    border-radius: 10px;
}

#skills-level-3 {
    position: relative;
    background-color: #75B0D8;       /* test colour */
    height: 100%;
    width: 95%;
    border-radius: 10px;
}

#skills-level-4 {
    position: relative;
    background-color: #75B0D8;       /* test colour */
    height: 100%;
    width: 90%;
    border-radius: 10px;
}

#skills-level-5 {
    position: relative;
    background-color: #75B0D8;       /* test colour */
    height: 100%;
    width: 85%;
    border-radius: 10px;
}

#skills-level-6 {
    position: relative;
    background-color: #75B0D8;       /* test colour */
    height: 100%;
    width: 95%;
    border-radius: 10px;
}

#skills-level-7 {
    position: relative;
    background-color: #75B0D8;       /* test colour */
    height: 100%;
    width: 70%;
    border-radius: 10px;
}


.skills-indicator {
    position: absolute;
    background-color: #75B0D8;
    border: 1px solid #75B0D8;
    width: 25px;
    height: 25px;
    /* margin-right: 10px; */
    left: 97.5%;
    bottom: -7px;
    border-radius: 50%;
}

/* Clients section */

#clients {
    position: relative;
    height: 80vh;
    background-color: #212f49;
}

#clients h2 {
    text-align: center;
    padding: 40px 0 30px 0;
}

#clients-content {
   /*  background-color: red;     Test colour */
   padding-top: 150px;
    width: 80%;
    height: 70%;
    position: relative;
    left: 10%;
}

#clients-content div {
    /* position: absolute; */
   /* background-color: blue;      Test colour */
    margin-left: 20px;
    width: 256px;
    height: 128px;
    float: left;
    box-sizing: border-box;
}

#amazon {
    /* width: 50%; */
    /* height: 100%; */
    background: url(../images/amazon-logo-gray.png) no-repeat center center;
    background-size: contain;
}

#apple {
    width: 100%;
    height: 50%;
    background: url(../images/apple-logo-gray.png) no-repeat center center;
    background-size: contain;
}

#facebook {
    /* width: 100%; */
    /* height: 100%; */
    background: url(../images/facebook-logo-gray.png) no-repeat center center;
    background-size: cover;
}

#google {
    /* width: 100%; */
    /* height: 100%; */
    background: url(../images/google-logo-gray.png) no-repeat center center;
    background-size: cover;
}

#microsoft {
    /* width: 100%; */
    /* height: 100%; */
    background: url(../images/microsoft-logo-gray.png) no-repeat center center;
    background-size: cover;
}

#amazon:hover {
    background: url(../images/amazon-logo.png) no-repeat center center;
    background-size: cover;
}

#apple:hover {
    background: url(../images/apple-logo.png) no-repeat center center;
    background-size: contain;
}

#facebook:hover {
    background: url(../images/facebook-logo.png) no-repeat center center;
    background-size: cover;
}

#google:hover {
    background: url(../images/google-logo.png) no-repeat center center;
    background-size: cover;
}

#microsoft:hover {
    background: url(../images/microsoft-logo.png) no-repeat center center;
    background-size: cover;
}

/* Footer */

/* Social media icons */

.social-icons {
    position: fixed;
    bottom: 75px;
    left: 1%;
}

.social-icons li {
    padding: 2px;
    margin: 3px;
    height: 18px;
    width: 18px;
    text-align: center;
    /* background-color: blue; */    /* Change to appropriate colour */
    background-color: rgba(117, 176, 216, 0.3);
    border-radius: 50%;
}

.social-icons li a {
    color: #c7c7c7;
}

.social-icons li a:hover {
    color: rgb(23, 115, 234);
}

/* Up arrow link */

.up-arrow {
    position: fixed;
    bottom: 60px;
    right: 2%;
    height: 40px;
    width: 40px;
    font-size: 200%;
    text-align: center;
    /* background-color: blue;   */  /* Change to appropriate colour */
    background-color: rgba(117, 176, 216, 0.3);
    border-radius: 50%;
}

.up-arrow a{
    color: #c7c7c7;
}

.up-arrow a:hover {
    /* color: rgba(117, 176, 216, 0.3); */
    color: rgb(23, 115, 234);
}

/* Copyright section */

.copyright {
    /* position: fixed; */            /* In case I want the copyright visible all the time */
    /* bottom: 0%; */
    background-color: black;        /* Modify colour - when page ready choose o colour that fits better */
    color: #c7c7c7;
    text-align: center;
    width: 100%;
    height: 5vh;
}

.copyright p {
    padding: 15px;
}

/* Contact page */

.form {
    background-color: #46719c;
    position: relative;
    height: 95vh;
    /* padding: 200px 30px; */
}

.form-container {
    /* background-color: #756ea8; */
    width: 80%;
    height: 40vh;
    /* max-width: 400px; */
    position: absolute; 
    top: 25vh;
    left: 10%;
    /* padding: 30px; */
}

.form-container h2 {
    /* padding: 10px 0; */
    height: 20%;
}

#form-container-wrapper {
    /* display: inline-block; */
    /* background-color: black; */
    width: 100%;
    height: 80%;
    /* text-align: center; */
    box-sizing: border-box;
}

#form-details {
    float: left;
    /* background-color: blue; */
    width: 30%;
    height: 100%;
}

#form-details div {
    height: 20%;
    padding: 10px 0 0;
}

#form-details div i {
    background-color: rgba(39, 58, 88, 0.8);
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border: 5px solid rgba(199, 199, 199, 0.8);
    border-radius: 50%;
}

#form-details div p {
    /* background-color: black;            test colour */
    display: inline;
    font-size: 75%;
}

#form-input {
    float: right;
    /* background-color: red;           test colour */
    width: 70%;
    height: 100%;
}

.text-input-name {
    font-family: inherit;
    width: 47%;
    height: 40px;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 2px;
}

.text-input-email {
    font-family: inherit;
    width: 47%;
    height: 40px;
    margin-right: 2%;
    margin-top: 2%;
    float: right;
    border-radius: 2px;
}

/* .text-input #name {
    margin: 2.5% 0 2.5% 2.5%;
} */

.message-input {
    width: 96%;
    height: 150px;
    margin: 2% 2% 0 2%;
    border-radius: 2px;
    padding: 10px;
    font-family: inherit;
    box-sizing: border-box;
}

.news-letter {
    margin-left: 2%;
    margin-top: 2%;
    font-size: 75%;
}

.message-button {
    margin-right: 2%;
    margin-top: 0.5%;
    float: right;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    font-family: inherit;
    /* font-weight: bold; */
    color: inherit;
    background-color: rgba(39, 58, 88, 0.8);
    border: 5px solid rgba(199, 199, 199, 0.8);
}

.message-button:hover {
    background-color: rgba(199, 199, 199, 0.8);
    border: 5px solid rgba(39, 58, 88, 0.8);
    color: #273a58;
}

/* Experience page */

.experience {
    background-color: #46719c;
    position: relative;
    height: 180vh;
    padding-top: 100px;
}

.experience h2 {
    /* position: inherit;
    top: 100px; */
    text-align: center;
    margin-bottom: 25px;
}

/* #briefcase {
    /* background-color: black;        Test colour */
    /* text-align: center;
} */

/* #briefcase i {
    margin-top: 20px;
    font-size: 200%;
} */

.timeline {
    background-color: #273a58;
    height: 160vh;
    width: 5px;
    margin: 50px auto;
    position: relative;
    overflow: visible;
}

.timeline i {
    position: absolute;
    /* top: 20%; */
    left: -17.5px;
    color: #c7c7c7;
    font-size: 250%;
    /* border: 1px solid #c7c7c7; */
    /* margin: 0 auto; */
}

#job-1 {
    top: 130px;
}

#job-2 {
    top: 430px;
}

#job-3 {
    top: 730px;
}

#job-4 {
    top: 1030px;
}

#job-5 {
    top: 1330px;
}

.job-container-right {
    /* border: 1px solid black; */
    position: absolute;
    width: 500px;
    height: 300px;
    left: 50%;
    top: -130px;
    padding: 15px 15px 15px 40px;
    box-sizing: border-box;

}

.job-container-right div {
    background-color: #c7c7c7;
    color: #273a58;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
}

.job-container-right div img {
    position: relative;
    top: -50px;
    height: 75%;
}

.job-container-right div p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 75%;
}

.job-container-left {
    /* border: 1px solid black; */
    position: absolute;
    width: 500px;
    height: 300px;
    right: 50%;
    top: -130px;
    padding: 15px 40px 15px 15px;
    box-sizing: border-box;
}

.job-container-left div {
    background-color: #c7c7c7;
    color: #273a58;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
}

.job-container-left div img {
    position: relative;
    top: -50px;
    height: 75%;
}

.job-container-left div p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 75%;
}

/* Under construction page */

#main-image {
    height: 100vh;
    /* width: 100%; */
    background: url("../images/uc-main-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* #container {
    position: absolute;
    background-color: yellow;
    height: 50%;
    width: 40%;

    padding: 10px;

    top: 50px;
    left: 20px;
} */

#under-construction-sign {
    position: relative;
    top: 40px;
    left: 40px;
    height: 50%;
    width: 35%;
    background: url(../images/uc-sign.png) no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: yellow;
    border-radius: 20px;
    /* padding: 0 10px; */
}

#link-home {
    text-align: center;
    font-size: xx-large;
    /* vertical-align: middle; */
    position: absolute;
    float: right;
    height: 40px;
    width: 100px;
    background-color: blue;     /* Test colour - add more style */
    top: 40px;
    right: 40px;
    border-radius: 25px;
}

#link-home a {
    color: #c7c7c7;
}
