/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500;600;700&family=Montserrat:wght@400;500&family=Roboto+Condensed:ital,wght@0,400;0,700;1,700&display=swap');

/* Reset margins, padding, borders, link hover and list style */
* {
    margin: 0;
    padding: 0;
    border: none;
}

a, a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Main body format */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #46719c;      /* Fallback colour if problems with images */
    color: #f2f2f2;
}

/* Heading and logo */
header {
    position: absolute;     /* Position the heading to the top of the page */
    z-index: 1;             /* Position heading on top of hero-image */
    width: 100%;            /* Change dimension of header element to screen width */
    line-height: 75px;      /* Vertical alignment */
}

h1, h2 {
    font-family: "Markazi Text", sans-serif;
    font-weight: 500;
    font-size: 280%;
}

#logo {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}

#logo a {
    color: #f2f2f2;
}

/* Navigation links */
nav {
    background-color: rgba(39, 58, 88, 0.8);    
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 140%;
    float: right;
    letter-spacing: 1px;
    border-radius: 35px 0 0 35px;
}

#menu {
    margin-right: 30px;
    margin-left: 30px;
    vertical-align: bottom;
}

#menu li {
    display: inline-block;
}

#menu li a {                
    color: #f2f2f2; 
    margin-left: 5px;
}

#menu li a:hover {
    color: #75b0d8;
}

#burger {
    background-color: rgba(39, 58, 88, 0.8);
    float: right;
    width: 75px;
    height: 75px;
}

#burger img {
    height: 100%;

}

/* Hero image and cover text*/
#hero-image {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("../images/blue-tiger-hero-image.jpg") no-repeat center center;
    background-size: cover;
}

#cover-text {
    background-color: rgba(39, 58, 88, 0.8);
    color: #f2f2f2;
    position: absolute;
    width: 325px;
    height: 150px;
    top: 50%;
    left: 10%;
    padding: 0 10px;
    border-radius: 5px;
}

#cover-text h2 {
    font-weight: 700;
    font-size: 560%;
}

#cover-text h2 span {
    color: #75b0d8;        
}

#cover-text h3 {
    font-family: Montserrat, sans-serif;
    font-weight: normal;
}

/* About section */

/* Setting up the section dimensions, image and background color */
#about {
    height: 500px;
    background: url(../images/about.png) #75b0d8 no-repeat;
    background-size: contain;
    background-position: top right;
}

/* Cover text */
#about div {
    background-color: #273a58;    
    position: relative;
    width: 40%;
    top: 200px;
    left: 50px;
    padding: 15px;
    border: 5px double #46719c;
    border-radius: 5px;
}

/* Creating button with hover effect and font awsome icon */
#about div span {
    border: 2px solid #46719c;
    padding: 2px 5px;
    border-radius: 5px;
}

#about div span:hover {
    background-color: #46719c;
}

#about div span a {
    color: #f2f2f2;
}

#about div span i {
    margin-left: 20px;
    font-size: 90%;
}

/* Skills section */

/* Position, dimension and background color */
#skills {
    position: relative;
    height: 680px;
    background-color: #3C4856;
}

/* Skills section title */
#skills h2 {
    text-align: center;
    padding: 40px 0 30px 0;
}

/* Skills content wrapper size and position */
#skills-content {
    width: 80%;
    height: 70%;
    position: absolute;
    left: 10%;
}

/* Individual skill wrapper dimension and position */
.skills-container {
    margin: 10px;
    line-height: 300%;
    height: 12%;
}

/* Skills name position and dimension */
.skills-name {
    display: inline-block;
    width: 19%;
}

/* Set up individual skill look, position and position */
.skills-level-container {
    display: inline-block;
    width: 80%;
    height: 20%;
    background-color: #f2f2f2;
    border-radius: 10px;
}

/* Different skill levels */
#skills-level-1 {
    position: relative;
    background-color: #75B0D8;       
    height: 100%;
    width: 90%;
    border-radius: 10px;
}

#skills-level-2 {
    position: relative;
    background-color: #75B0D8;       
    height: 100%;
    width: 80%;
    border-radius: 10px;
}

#skills-level-3 {
    position: relative;
    background-color: #75B0D8;      
    height: 100%;
    width: 95%;
    border-radius: 10px;
}

#skills-level-4 {
    position: relative;
    background-color: #75B0D8;     
    height: 100%;
    width: 90%;
    border-radius: 10px;
}

#skills-level-5 {
    position: relative;
    background-color: #75B0D8;      
    height: 100%;
    width: 85%;
    border-radius: 10px;
}

#skills-level-6 {
    position: relative;
    background-color: #75B0D8;      
    height: 100%;
    width: 95%;
    border-radius: 10px;
}

#skills-level-7 {
    position: relative;
    background-color: #75B0D8;      
    height: 100%;
    width: 70%;
    border-radius: 10px;
}

/* Set up skill level indicator */
.skills-indicator {
    position: absolute;
    background-color: #75B0D8;
    width: 25px;
    height: 25px;
    left: 97.5%;
    bottom: -7px;
    border-radius: 50%;
}

/* Clients section */

/* Position, dimension and background color */
#clients {
    height: 450px;
    background-color: #212f49;
}

/* Clients section title */
#clients h2 {
    text-align: center;
    padding: 40px 0 30px 0;
}

/* Clients content wrapper size and position */
#clients-content {
    padding-top: 50px;
    width: 80%;
    height: 50%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

/* Set up individual client wrapper */
#clients-content div {
    margin: 5px auto; 
    width: 19%;
    height: 50%;
    display: inline-block;
}

/* Add image to individual client */
#amazon {
    background: url(../images/amazon-logo-gray.png) no-repeat center center;
    background-size: contain;
}

#apple {
    width: 100%;
    height: 50%;
    background: url(../images/apple-logo-gray.png) no-repeat center center;
    background-size: contain;
}

#facebook {
    background: url(../images/facebook-logo-gray.png) no-repeat center center;
    background-size: contain;
}

#google {
    background: url(../images/google-logo-gray.png) no-repeat center center;
    background-size: contain;
}

#microsoft {
    background: url(../images/microsoft-logo-gray.png) no-repeat center center;
    background-size: contain;
}

/* Set up individual client hover effect */
#amazon:hover {
    background: url(../images/amazon-logo.png) no-repeat center center;
    background-size: contain;
}

#apple:hover {
    background: url(../images/apple-logo.png) no-repeat center center;
    background-size: contain;
}

#facebook:hover {
    background: url(../images/facebook-logo.png) no-repeat center center;
    background-size: contain;
}

#google:hover {
    background: url(../images/google-logo.png) no-repeat center center;
    background-size: contain;
}

#microsoft:hover {
    background: url(../images/microsoft-logo.png) no-repeat center center;
    background-size: contain;
}

/* Footer */

/* Social media icons */
.social-icons {
    position: fixed;
    bottom: 75px;
    left: 1%;
}

.social-icons li {
    padding: 2px;
    margin: 3px;
    height: 18px;
    width: 18px;
    text-align: center;
    background-color: rgba(117, 176, 216, 0.3);
    border-radius: 50%;
}

.social-icons li a {
    color: #f2f2f2;
}

.social-icons li a:hover {
    color: rgb(23, 115, 234);
}

/* Up arrow link */
.up-arrow {
    position: fixed;
    bottom: 60px;
    right: 2%;
    height: 40px;
    width: 40px;
    font-size: 200%;
    text-align: center;
    background-color: rgba(117, 176, 216, 0.3);
    border-radius: 50%;
}

.up-arrow a{
    color: #f2f2f2;
}

.up-arrow a:hover {
    color: rgb(23, 115, 234);
}

/* Copyright section */
.copyright {
    background-color: black;       
    color: #f2f2f2;
    text-align: center;
    width: 100%;
    height: 50px;
}

.copyright p {
    padding: 15px;
}

/* Contact page */

/* Position, dimension and background color */
.form {
    background-color: #46719c;
    position: relative;
    height: 95vh;
}

/* Form content wrapper size and position */
.form-container {
    width: 80%;
    height: 40vh;
    position: absolute; 
    top: 25vh;
    left: 10%;
}

/* Form section title */
.form-container h2 {
    height: 80px;
}

/* Wrapper for form's two elements */
#form-container-wrapper {
    width: 100%;
    height: 80%;
    box-sizing: border-box;
}

/* Form details */
#form-details {
    float: left;
    width: 30%;
    height: 100%;
}

#form-details div {
    height: 20%;
    margin: 10px 0;
}

#form-details div i {
    background-color: rgba(39, 58, 88, 0.8);
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border: 5px solid rgba(242, 242, 242, 0.8);
    border-radius: 50%;
}

#form-details div p {
    display: inline;
    font-size: 90%;
}

/* Input form */
#form-input {
    float: right;
    width: 70%;
    height: 100%;
}

.text-input-name {
    font-family: inherit;
    width: 47%;
    height: 40px;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 2px;
    padding-left: 10px;
    box-sizing: border-box;
}

.text-input-email {
    font-family: inherit;
    width: 47%;
    height: 40px;
    margin-right: 2%;
    margin-top: 2%;
    float: right;
    border-radius: 2px;
    padding-left: 10px;
    box-sizing: border-box;
}

.message-input {
    width: 96%;
    height: 150px;
    margin: 2% 2% 0 2%;
    border-radius: 2px;
    padding: 10px;
    font-family: inherit;
    box-sizing: border-box;
}

/* Newsletter checkbox */
.news-letter {
    margin-left: 2%;
    margin-top: 2%;
    font-size: 75%;
}

/* Submit button */
.message-button {
    margin-right: 2%;
    margin-top: 0.5%;
    float: right;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    font-family: inherit;
    color: inherit;
    background-color: rgba(39, 58, 88, 0.8);
    border: 5px solid rgba(242, 242, 242, 0.8);
}

.message-button:hover {
    background-color: rgba(242, 242, 242, 0.8);
    border: 5px solid rgba(39, 58, 88, 0.8);
    color: #273a58;
}

/* Experience page */

/* Position, dimension and background color */
.experience {
    background-color: #46719c;
    position: relative;
    height: 1685px;
    padding-top: 100px;
}

/* Experience section title */
.experience h2 {
    text-align: center;
    margin-bottom: 25px;
}

/* Set up timeline */
.timeline {
    background-color: #273a58;
    height: 1500px;
    width: 5px;
    margin: 50px auto;
    position: relative;
    overflow: visible;
}

/* Font awsome as anchor element on timeline */
.timeline i {
    position: absolute;
    left: -17.5px;
    color: #f2f2f2;
    font-size: 250%;
}

/* Position anchor element for individual jobs */
#job-1 {
    top: 130px;
}

#job-2 {
    top: 430px;
}

#job-3 {
    top: 730px;
}

#job-4 {
    top: 1030px;
}

#job-5 {
    top: 1330px;
}

/* Job container */
.job-container {
    position: absolute;
    width: 500px;
    height: 300px;
    left: 50%;
    top: -130px;
    padding: 15px;
    margin: 0 30px;
    box-sizing: border-box;
}

.job-container div {
    background-color: #f2f2f2;
    color: #273a58;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
}

.job-container div img {
    position: relative;
    top: -50px;
    height: 75%;
}

.job-container div p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 75%;
}

#position-left {
    left: -545px;
}

/* Submit page */

/* Feedback area */
#feedback {
    float: right;
    width: 70%;
    height: 100%;
}

#feedback span {
    padding-left: 150px;
}

/* Home button */
.home-button {
    margin: 50px auto;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    font-family: inherit;
    background-color: rgba(39, 58, 88, 0.8);
    border: 5px solid rgba(242, 242, 242, 0.8);
    box-sizing: border-box;
    padding-top: 10px;
    text-align: center;
}

.home-button:hover {
    background-color: rgba(242, 242, 242, 0.8);
    border: 5px solid rgba(39, 58, 88, 0.8);
    color: #273a58;
}

.home-button a {
    color: #f2f2f2;
}

.home-button:hover a {
    color: #273a58;
}

/* Media queries */

/* For medium screens sizes up to 1200px */
@media screen and (max-width: 1200px) {

    /* Header */
    header {
        line-height: 60px;
    }

    #burger {
        width: 66px;
        height: 66px;
    }

    nav {
        line-height: 66px;
    }

    #logo {
        margin-left: 20px;
        margin-right: 10px;
    }
    
    #logo a {
        font-size: 80%;
    }
    
    nav {
        font-size: 100%;
    }
    
    #menu {
        margin-left: 15px;
        margin-right: 15px;
    }

    /* Main page cover text*/
    #cover-text {
        left: 10%;
        height: 115px;
        width: 280px;
    }
    
    #cover-text h2 {
        font-size: 420%;
    }

    /* About section */
    #about div {
        width: 50%;
        font-size: 80%;
    }

    /* Skills section */
    .skills-level-container {
        height: 15%;
    }

    .skills-indicator {
        width: 20px;
        height: 20px;
    }

    /* Experience page */
    .job-container {
        width: 350px;
        height: 210px;
        top: -90px;
    }

    .job-container div p {
        font-size: 50%;
    }

    #position-left {
        left: -395px;
    }

    #job-1 {
        top: 90px;
    }
    
    #job-2 {
        top: 320px;
    }
    
    #job-3 {
        top: 550px;
    }
    
    #job-4 {
        top: 780px;
    }
    
    #job-5 {
        top: 1010px;
    }

    .timeline {
        height: 1130px;
    }

    .experience {
        height: 1300px;
    }
    
    .job-container div img {
        top: -20%;
    }

    /* Contact page */
    #form-details div p {
        font-size: 70%;
    }
}

/* For medium screen sizes from 865px wide and down */
@media screen and (max-width: 865px) {

    /* About section */
    #about {
        height: 425px;
    }

    #about div {
        width: 70%;
        font-size: 75%;
    }

    /* Skills section */
    #skills-content {
        height: 90%;
    }

    .skills-container {
        margin: 0 10px;
        line-height: 300%;
        height: 12%;
    }

    .skills-level-container {
        display: block;
        width: 100%;
        height: 10%;
    }

    .skills-indicator {
        width: 12px;
        height: 12px;
        bottom: -3px;
    }

    /* Clients section */
    #clients-content {
        height: 70%;
        padding: 0;
    }

    #clients-content div {
        margin: 0 auto;
        width: 40%;
        height: 30%;
    }

    div#apple {
        display: block;
        height: 25%;
    }

    /* Experience page */
    .experience h2 {
        margin: 50px 0 0;
    }

    .timeline {
        margin-left: 12%;
        margin-top: 30px;
        height: 1130px;
    }

    .timeline i {
        font-size: 175%;
        left: -12px;
    }

    .job-container {
        width: 350px;
        height: 210px;
        top: -90px;
        margin: 0;
        padding: 15px 30px;
    }
    
    .job-container div p {
        font-size: 75%;
    }

    #position-left {
        left: 15px;
    }

    /* Contact page */
    .form {
        height: 980px;
    }

    .form-container {
        top: 150px;
    }

    #form-details {
        width: 100%;
        height: 225px;
    }

    #form-details div {
        height: 55px;
    }

    #form-input {
        width: 100%;
    }

    /* Submit page */
    #feedback {
        width: 100%;
    }
}



/* Menu under 700px */
@media screen and (max-width: 700px) {
    nav {
        clear: both;
    }
}

/* For small screen sizes from 450px wide and down */
@media screen and (max-width: 450px) {

    /* Header */
    #logo {
        margin-left: 15px;
        margin-right: 5px;
        font-size: 230%;
        line-height: 53px;
    }

    #burger {
        width: 61px;
        height: 60px;
    }

    nav {
        clear: both;
        font-size: 80%;
        line-height: 40px;
        letter-spacing: 0;
    }
    
    #menu {
        margin-left: 5px;
        margin-right: 5px;
    }

    /* Main page cover text*/
    #cover-text {
        height: 70px;
        width: 142px;
    }

    h3 {
        font-size: inherit;
    }

    #cover-text h2 {
        font-size: 240%;
    }

    #cover-text h3 {
        font-size: 60%;
    }

    /* About section */
    #about {
        height: 280px;
    }

    #about div {
        font-size: 60%;
        font-weight: 200;
        top: 100px;
        left: 30px;
        width: 70%;
        padding: 0 5px 10px;
    }

    /* Skills section */
    h3 {
        font-size: inherit;
    }

    .skills-level-container {
        height: 5%;
    }

    .skills-indicator {
        width: 6px;
        height: 6px;
        bottom: -2px;
    }

    /* Clients section */
    #clients h2 {
        padding: 40px 0 0;
    }

    #clients-content div {
        display: block;
        width: 56%;
        height: 20%;
    }

    /* Footer up arrow */
    .up-arrow {
        height: 24px;
        width: 24px;
        font-size: 120%;
    }

    /* Experience page */
    .experience {
        height: 900px;
    }

    .timeline {
        height: 745px;
    }

    .timeline {
        margin-left: 15%;
    }

    .job-container {
        width: 230px;
        height: 140px;
        top: -60px;
    }

    .job-container div p {
        font-size: 40%;
    }

    #job-1 {
        top: 60px;
    }

    #job-2 {
        top: 210px;
    }

    #job-3 {
        top: 360px;
    }

    #job-4 {
        top: 510px;
    }

    #job-5 {
        top: 660px;
    }

    /* Contact page */
    .form {
        height: 850px;
    }

    /* Submit page */
    #feedback h2 {
        font-size: 230%;
    }

    #feedback span {
        padding-left: 100px;
    }
}

@media screen and (max-width: 270px) {
    #menu li {
        display: block;
        text-align: right;
        width: 70px;
        margin-right: 15px;
    }
}