@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

a, a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/* Heading and logo */

header {
    color: #c7c7c7;
    position: absolute;     /* Position the heading to the top of the page */
    z-index: 1;             /* Position heading on top of hero-image */
    width: 100%;            /* Change dimension of header element to screen width */
    line-height: 75px;      /* Vertical alignment */
}

h1, h2 {
    font-family: "Markazi Text", sans-serif;
    font-weight: 500;
    font-size: 280%;
}

#logo {
    float: left;
    margin-left: 30px;
}

#logo a {
    color: #c7c7c7;
}

/* Navigation links */

#menu {
    float: right;
    font-size: 210%;
    margin-right: 30px;
    vertical-align: bottom;
}

#menu li {
    display: inline-block;
}

#menu li a {                /* Change font to links - narrow, bold, lowercase style */
    color: #c7c7c7; 
    margin-left: 5px;
}

#menu li a:hover {
    color: red;           /* Modify colour - check color wheel */
}

#burger {
    width: 75px;
    height: 75px;
    vertical-align: bottom;
}

#burger img {
    height: 100%;

}

/* Hero image and cover text*/

#hero-image {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("../images/blue-tiger-hero-image.jpg") no-repeat center center;
}

#cover-text {
    /* background-color: red; */      /* Testing position and dimensions of element */
    color: #c7c7c7;

    position: absolute;

    width: 25%;
    height: 30%;

    top: 40%;
    left: 15%;

    padding: 0 10px;

    border-radius: 5px;
    /* border: 3px double blue; */
}

#cover-text h2 {
    font-weight: 700;
    font-size: 560%;
}

#cover-text h2 span {
    color: blue;        /* Test colour */
    /* color: rgb(117, 176, 216); */        /* Preferred colour */
}

#cover-text h3 {
    font-family: Montserrat, sans-serif;
    font-weight: normal;
}

/* Under construction page */

#main-image {
    height: 100vh;
    /* width: 100%; */
    background: url("../images/uc-main-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* #container {
    position: absolute;
    background-color: yellow;
    height: 50%;
    width: 40%;

    padding: 10px;

    top: 50px;
    left: 20px;
} */

#under-construction-sign {
    position: relative;
    top: 40px;
    left: 40px;
    height: 50%;
    width: 35%;
    background: url(../images/uc-sign.png) no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: yellow;
    border-radius: 20px;
    /* padding: 0 10px; */
}

#link-home {
    text-align: center;
    font-size: xx-large;
    /* vertical-align: middle; */
    position: absolute;
    float: right;
    height: 40px;
    width: 100px;
    background-color: blue;     /* Test colour - add more style */
    top: 40px;
    right: 40px;
    border-radius: 25px;
}

#link-home a {
    color: #c7c7c7;
}

/* Footer */

/* Social media icons */

.social-icons {
    position: fixed;
    bottom: 75px;
    left: 1%;
}

.social-icons li {
    padding: 2px;
    margin: 3px;
    height: 18px;
    width: 18px;
    text-align: center;
    /* background-color: blue; */    /* Change to appropriate colour */
    background-color: rgba(117, 176, 216, 0.3);
    border-radius: 50%;
}

.social-icons li a {
    color: #c7c7c7;
}

.social-icons li a:hover {
    color: rgb(23, 115, 234);
}

/* Up arrow */

.up-arrow {
    position: fixed;
    bottom: 60px;
    right: 2%;
    height: 40px;
    width: 40px;
    font-size: 200%;
    text-align: center;
    /* background-color: blue;   */  /* Change to appropriate colour */
    background-color: rgba(117, 176, 216, 0.3);
    border-radius: 50%;
}

.up-arrow a{
    color: #c7c7c7;
}

.up-arrow a:hover {
    /* color: rgba(117, 176, 216, 0.3); */
    color: rgb(23, 115, 234);
}

/* Copyright */

.copyright {
    /* position: fixed; */            /* In case I want the copyright visible all the time */
    /* bottom: 0%; */
    background-color: black;        /* Modify colour - when page ready choose o colour that fits better */
    color: #c7c7c7;
    text-align: center;
    width: 100%;
    height: 50px;
}

.copyright p {
    padding: 15px;
}
